version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    # Look for `package.json` and `lock` files in the `root` directory
    directory: "path/to/your/theme"
    # Check the npm registry for updates every day (weekdays)
    schedule:
      interval: "monthly"
# Add other package ecosystems as needed.